body {
    background-color: navy;
    margin: 0;
    font-family: 'Arial', serif;
}

h1 {
    margin-top:0;
}

#content {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    height: 1580px;
    padding: 32px;
}
.button{
    display:inline-block;
    background:none;
    width: 50px;
    height: 20px;
}
div {
    width:80vw;
    height:80vh;
}
img {
    width:80%;
    height:auto;
    max-height:100%;
}
